.login-container {
	max-width: 300px;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-container {
	max-width: 300px;
	margin: 40px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

.navbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}

.navbar li {
	margin-right: 20px;
}

.navbar a {
	color: #fff;
	text-decoration: none;
}

.navbar a:hover {
	color: #ccc;
}

.error {
	color: red;
	font-size: 14px;
	margin-top: 10px;
}

input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
}

button[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #444;
}
