{% load static %}+
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>

<body>
    <nav>
        <h1>SprintMaster<div class="3"></div></h1>

        <div>
            <a href="#">About</a>

            <a href="{% url 'user:login' %}">Log in</a>
            <a href="{% url 'user:signup' %}">Sign up</a>
        </div>
    </nav>

    <main>Welcome to SprintMaster</main>

    <footer>
        <p>© 2024 SprintMaster. All rights reserved.</p>
    </footer>
</body>

</html>